body {
    background-color: silver;
    color: black;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}
.section {
    background-color:silver;
    color: navy;
    font-family: "Arial", sans-serif;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 24px;
    font-weight: bold;
    color: blue;
}
h1.your-name {
    transform: rotate(45deg);
}
.experience-list {
    list-style-type: none;
}
.experience-list li{
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
}
#experience {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap:20px;
}
.experience-item {
    display: flex;
    margin-bottom:20px;
}
.job-title{
    flex: 1;
    font-weight: bold;
}
.job-dates {
    margin-left:20px;
}
.job-description {
    margin-top: 5px;
}
#connect {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.social-links li a {
    color: #333;
    text-decoration: none;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}
/* Desktop styles */
@media (max-width: 768px) {
    body {
        font-size:16px;
        color: yellow;
    }
}
/*Tablet styles */
@media (min-width: 481px) and (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 20px;
        color: green;
    }
    .experience-list {
        padding: 15px;
        background-color: #D3D3D3;
    }
}
/*Mobile Styles */
@media(max-width: 480px) {  
    h1.KennethWard {
        font-size: 20px;
        font-style: italic;
    }
}
    